{% extends "base/base.twig" %}


{% block body %}
    <span> <h1>Hello {{ user.local.name }}</h1> {% include "forms/logout.twig" %} </span>

    <div class="col infos-user">
        <img src="{{user.local.avatar}}" alt="avatar"  />
        <p>Email : {{ user.local.email }}</p>
        <p>Pseudo : {{user.local.name }}</p>
        <p>Sexe : {{user.local.sexe}}</p>
    </div>
    <div class="col chat-partition"> 
        <div class="chat" id="chat">
            
        </div>
        <div class="message">
            <textarea id="message-text">
                
            </textarea>
            <button class="send-message" id="send-message">Send</button>
        </div>
    </div>

{% endblock body %}



{% block javascript %}
    {{ parent() }}
    {% include "base/user.js.twig" %}
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.module.js" type="text/javascript" ></script>
{% endblock javascript %}